.footer {
    -webkit-box-align: center;
    align-items: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: darkgrey;
    background-color: white;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    left: 0;
    padding-bottom: env(safe-area-inset-bottom);
    position: fixed;
    right: 0;
    z-index: 2000;
}

.active {
    color: #1c70b5 !important;
    font-weight: 700;
    border-top-color: #1c70b5;
    border-top: 2px solid;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    font-size: .9rem;
    line-height: 1;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 4rem;
    height: 4.0rem;
    border-radius: 2px;
    text-decoration: none;
}

.footerLink {
    -webkit-box-align: center;
    align-items: center;
    color: darkgrey;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    font-size: .9rem;
    line-height: 1;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 4rem;
    height: 4.0rem;
    border-radius: 2px;
    text-decoration: none;
}